site_name: some-types
site_author: Talley Lambert
repo_name: tlambert03/ome-types
repo_url: https://github.com/tlambert03/ome-types
edit_uri: edit/main/docs/
site_description: Python dataclasses for the SOME data model
copyright: "Talley Lambert &copy; 2023"
strict: true

watch:
  - src

nav:
  - index.md
  - usage.md
  - migration.md
  - API:
      - API/ome_types.md
      - API/ome_types.model.md
      - API/ome_types.simple_types.md
      - API/base_type.md

theme:
  name: material
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.sections
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      primary: blue grey
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_bases: true
            show_source: false
            show_root_toc_entry: false
            docstring_style: numpy
            # docstring_section_style: list
            show_signature_annotations: true
            signature_crossrefs: true
            filters:
              - "!^__"
              - "!^_"
          import:
            - https://docs.python.org/3/objects.inv
            - https://pint.readthedocs.io/en/stable/objects.inv

extra_css:
  - styles/extra.css
