[build-system]
requires = ["setuptools>=42", "wheel", "setuptools_scm[toml]>=3.4", "black", "isort<5.0", "xmlschema", "pydantic"]
build-backend = "setuptools.build_meta"

[tool.check-manifest]
ignore = [
    "*src/ome_types/model/*",
    "mypy.ini",
    "coverage.yml",
    "src/ome_types/_version.py",  # added by setuptools_scm during build
]
