name: build branch

on:
  push:
    branches:
      - "master"
  schedule:
    # <minute [0,59]> <hour [0,23]> <day of the month [1,31]> <month of the year [1,12]> <day of the week [0,6]>
    # https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07
    # Run every Monday at 18:00:00 UTC (Monday at 10:00:00 PST)
    - cron: '0 18 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Build
        run: |
          python -m pip install --upgrade pip
          pip install pep517
          python -m pep517.build -b .
          unzip dist/ome_types-*
          rm -rf build
          rm ome_types/_version.py
      - name: Commit
        if: github.event_name == 'push'
        uses: EndBug/add-and-commit@v7
        with:
          add: "ome_types"
          branch: built
          push: --set-upstream origin built --force
