name: Build built branch

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build wheel
        run: |
          python -m pip install --upgrade pip build
          python -m build --wheel

      - name: Replace working tree with wheel
        run: |
          shopt -s extglob
          rm -rf !("dist"|"*.git")
          unzip -o dist/*.whl -d .
          rm -rf dist *.dist-info .github* .gitignore .r* .p*

      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -am "Built wheel"

      - name: Push to built branch
        uses: ad-m/github-push-action@master
        with:
          branch: built
          force: true
