name: test dependents

on:
  push:
    branches:
      - "main"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-nd2:
    name: test nd2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: tlambert03/nd2
          fetch-depth: 0
      - uses: actions/checkout@v6
        with:
          path: ome-types
          fetch-depth: 0

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.11"
          enable-cache: true

      - uses: actions/cache@v5
        id: cache
        with:
          path: tests/data
          key: ${{ hashFiles('scripts/download_samples.py') }}

      - name: Download Samples
        if: steps.cache.outputs.cache-hit != 'true'
        run: uv run scripts/download_samples.py

      - name: Install nd2
        run: uv sync --no-dev --group test

      - name: Install local ome-types
        run: uv pip install ./ome-types

      - name: Run Tests
        run: uv run --no-sync pytest --color=yes -v tests/test_ome.py

  test_omero_cli:
    name: test omero-cli-transfer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          python-version: "3.10"

      - name: Install dependencies
        run: |
          uv sync --group test
          uv pip install omero-cli-transfer --no-deps

      - name: Test
        run: uv run --no-sync pytest tests/test_omero_cli.py -v
